.product {
    width: 300px;
    height: 508px;
    position: relative;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-name {
    color: #0E161A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin: 12px 0;
}

.product-info {
    margin-left: 14px;
}

.product-info p {
    margin: 5px 0;
}

.btn-cart {
    width: 100%;
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover{
    background-color: orange;
}